.body{
    background-color: rgb(225,230,230)
};

h1{
color: wheat

}

#hero{
    justify-content: center;
    text-align: center;

}

.hero-card{

}

.btn-1{
    border-radius: 25px;
    height: 60px;
    width: 100px;
    padding: 5px;
    text-align: center;
}



.btn{
    border-radius: 100px;
    height: 50px;
    width: 80px;
    justify-items: flex-start;
    padding: 10px;
}

#inputPassword2{
    width: 400px;
    height: 50px;
    border-radius: 50px;
    justify-content: right;
}

.btn{
    border-radius: 50px;
}

.form-range{
    width: 200px;
}


.btn2{
    border-radius: 90px;
    border: 2px solid gray;
}

.pink{
    background-color:  rgb(252,243,227);
    text-align: center;
}

h1{
    justify-content: center;
    text-align: center;
}

.pera{
    
    text-align: center;
}

.accordion-item{
    
    width: 800px;
    height: 100px;
    
}